<article>
  <div class="row">
  <div class="col s12 m5">
    <a  id ="card-homepage-link"href="/blogposts/{{blogPosts.id}}">
    <div class="card-panel teal">
      <h4 class="details-card-title white-text">{{blogPosts.title}}</h4>
      <h5 class="card-author white-text">Authored by:{{user.username}} on 
        {{date_created}}
        </h5>
      <span class="card-article white-text">{{blogPosts.article}}</span>
      </a>
    </div>
  </div>
</div>

 {{#each this}}
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <h5 class="card-author white-text">Authored by:{{user.username}}, Date:{{created_at}}
        </h5>
        <span class="card-comment-text">{{comments.text}}</span>
      </div>
    </div>
  </div>
{{/each}}

    {{#if loggedIn}}


  <div class="row">
    <form class="col s12" id="blogpost-form">
      <div class="row">
        <div class="input-field col s12" id="comment-form">
          <textarea id="titleText" class="materialize-textarea"></textarea>
          <label for="titleText">Enter comment</label>
        </div>
         <a  id="commentBtn"class="waves-effect waves-light btn">comment</a>
    </form>
  </div>
  </article>


  {{/if}}

    


    </div>
</article>

{{#if loggedIn}}
<script src="/js/add-comment.js"></script>
{{/if}}